*{box-sizing: border-box;margin:0;padding: 0;}
.container{
    
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.nav1-content img{width: 80px;}
.nav2-content img{width: 120px;}
.nav3-content img{width: 60px;}
.section5{display: flex;flex-direction: row;margin: 5rem 0;justify-content: space-around;}
.item7{font-size: 2rem;padding: 9rem;}
.item7 a{border: 1px solid black;border-radius: 50px;font-size: 2rem;padding: 25px;background-color: black;color: white;
            text-decoration: none;position: relative;top: 3rem;}
            .menu ul {list-style-type: none;background-color: #333;}
            .menu li a{text-decoration: none;color: white;font-size: 20px;}
            .list li a{padding: 15px;display: block;}
            .content{display: none;background-color: gray;padding: 20px;}
            .content a{display: block;}
            .menu:hover .content{display: block;}
            
.section5 img{
    width: 50vw;
    height: 100vh;
}
.item7 p{
    text-align: justify;
    word-spacing: -6px;
}

.footer{display: flex;background-color: black;width: 100%;height:60rem;flex-direction: column;
    justify-content: center;align-items: center;}
    .footer1{display: flex;flex-direction: column;}
    .img{display: flex;justify-content: center;gap: 20rem;margin-bottom: 5rem;}
    .img1 img{width: 50px;}
    .img3 img{width: 50px;}
    .img2 img{width: 80px;}
    .footer2{position:relative;top: 8rem;display: flex;flex-direction: column;align-items: center;}
    .footer2 img{display: flex;}
    .ax{display: flex;position: relative;top: 2rem;gap: 40px;}
    .end a{text-decoration: none;color: white;position: relative;top: 8rem;font-size: 2rem;}
    .logo img{width: 10rem;position: relative;bottom: 9rem;left:40rem;}
    .img4 img{width:78px;}
    .img5 img{width:78px;}
    .img6 img{width:80px;}
    hr{width: 90rem;}
