*{box-sizing: border-box;margin: 0;padding: 0;}
body{
    background-color: black;
    font-family: 'Vazir', sans-serif;

}
.container{
   
    display: flex;
    flex-direction: column;
    gap: 30rem;
   

}
.nav{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 170px;

}
.nav-list ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-list ul button{
    background-color: #DAC5A7;
    padding: 7px;
    font-size: 15px;
    cursor: pointer;
 }
 .nav-list ul li a{
    color: white;
    text-decoration: none;
    padding: 15px;
    color: #DAC5A7;
    font-size: 34px;
}
.nav-list{
    
   
        box-shadow: 0px 0px 5px gray;
    
    width: 30%;
    padding: 7px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 40px;
     border-color: #DAC5A7;
     background-color:rgba(0, 0, 0, 0.5);
 
 
}
.nav-list img{
    width: 15%;
}
.nav-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.item{
    display: flex;
    margin: 5rem 32rem;
    color: wheat;
}
.item2{
   
       
        width: 48%;
           
            width: 45%;
        background-color: #181716;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    
}
.item2-form   input,textarea{
   
        padding: 20px;
        width: 100%;
        font-size: larger;
      background-color:#22201D;
            display: flex;
            flex-direction: column;
            gap: 10px;
        
                border-color: #22201D;
            
        
    
}
.item2-form form{
   
        display: flex;
        flex-direction: column;
        gap: 17px;
    
}

.item2-form textarea{
   
  resize: none;
  
    WIDTH: 100%;
    height: 20em;
    padding: 20px;
    font-size: x-large;

}
.message{
    text-align: center;
    border: 1px solid white;
    background-color: #DAC5A7;
    padding: 10px;
    cursor: pointer;
    
}
.message a{
  
        text-decoration: none;
        color: black; 
}
.section2{
    display: grid;
    grid-template-rows: repeat(2,80px);
    grid-template-columns: repeat(3,190px);
    margin: auto 0rem auto auto;
    gap: 15px;
    margin-top: 1rem;
}
.box1{
    background-color:#22201D;
    color: white;
    display: flex;
     justify-content: center;
    align-items: center;
    gap: 10px;
}
.box2{
    background-color:#22201D;
    color: white;
    display: flex;
     justify-content: center;
    align-items: center;
    gap: 10px;
}
.box3{
    background-color:#22201D;
    color: white;
    display: flex;
     justify-content: center;
    align-items: center;
    gap: 10px;
}
.box4{
    background-color:#22201D;
    color: white;
    display: flex;
     justify-content: center;
    align-items: center;
    gap: 10px;
}
.box5{
    background-color:#22201D;
    color: white;
    display: flex;
     justify-content: center;
    align-items: center;
    gap: 10px;
}
.box6{
    background-color:#22201D;
    color: white;
    display: flex;
     justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer2{
    display: grid;
    grid-template-columns: repeat(4,40rem);
    grid-template-rows: repeat(1,650px);
    margin-top: 4rem;
   }
   .footer2-p{
    font-size: 23px;
   }
   .list1{
    background-color: #22201D;
         justify-content: center;
         align-items: center;
        display: flex;
        flex-direction: column;
        gap: 50px;
    
  
   }
   .list2{
    
        background-color: #22201D;
        display: flex;
        flex-direction: column;
        gap: 50px;
            justify-content: center;
            align-items: center;
            font-size: x-large;
            text-align: center;
        
    
   }
   .list3{
    background-color: #22201D;
 
    display: flex;
    flex-direction: column;
    gap: 50px;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        text-align: center;
   }
   .list4{
    background-color: #22201D;
   
    display: flex;
    flex-direction: column;
    gap: 50px;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        text-align: center;
   }
   .drible{
    width: 8%;
   }
   .list1-img1{
    
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    

   }
   .list1-img1 img{
    width: 60px;
   }
   .list1-img1 p{
    color: white;
   }
   .logo-list{
    text-align: center;
   }
   .logo-list img{
    width: 100px;
   }
   .list2-img2 p{
    color: white;
   }
   .list2-img2 {
 
   
    
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;


}
.list2-p p{
color: #DAC5A7;
}
.list2-img2 img{
width: 60px;
}
.list3-img3{
    
display: flex;
gap: 10px;
justify-content: center;
align-items: center;


}
.list3-img3 img{
width: 60px;
}
.list3-img3 p{
color: white;
}
.list4-img4{
    
display: flex;
gap: 10px;
justify-content: center;
align-items: center;


}
.list4-img4 p{
color: white;
}
.list4-img4 img{
width: 60px;
}
.list2 ul{
list-style-type: none;
gap: 50px;
display: flex;
flex-direction: column;
}
.list2 ul li a{
text-decoration: none;
color: #DAC5A7;
font-size: x-large;
}
.list2-end{
padding: 20px;
background-color: #DAC5A7;
justify-content: center;
align-items: center;
width: 40%;
    display: flex;
    gap: 15px;

}
.list2-end img{
width: 15%;
}
.list3 ul{
list-style-type: none;
display: flex;
flex-direction: column;
gap: 50px;
}
.list3 ul li a{
text-decoration: none;
color: #DAC5A7;
}
.list3-p p{
color: #DAC5A7;
}
.list4 ul{
list-style-type: none;
display: flex;
flex-direction: column;
gap: 50px;
}
.list4 ul li a{
text-decoration: none;
color: #DAC5A7;
}
.list4-p p{
color: #DAC5A7;
}
.end{

    color: #DAC5A7;
    font-size: xx-large;
   
       
        width: 158rem;
        background-color: #22201D;
    

}