*{box-sizing: border-box;margin: 0;padding: 0;}
:root{
    ---ightredCTAtext: hsl(356, 100%, 66%);
    --VerylightredCTAhoverbackground: hsl(355, 100%, 74%);
    --Verydarkblueheadings:hsl(208, 49%, 24%);
    --Whitetext:hsl(0, 0%, 100%);
 --Grayishbluefootertext: hsl(240, 2%, 79%);
 --Verydarkgrayishbluebodycopy: hsl(207, 13%, 34%);
 --Verydarkblackbluefooterbackground: hsl(240, 10%, 16%);
 --Verylightred: hsl(13, 100%, 72%);
 --Lightred: hsl(353, 100%, 62%);
 --Verydarkgrayblue: hsl(237, 17%, 21%);
 --Verydarkdesaturatedblue: hsl(237, 23%, 32%);
}

.container{
        width: 100%;
        height: 600px;
        background-color: hsl(13, 100%, 72%);
        background-image: url(images/bg-pattern-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-bottom-left-radius: 90px;
        padding: 50px;
        display: flex;
        flex-direction: column;
     
    }
      .item1{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .item1-list{
        
            position: relative;
            right: 35rem;
            top: 50px;
            font-size:larger;
        }
      .icon img{display: none;}
      .menu li a{display: none;}
      .menu li{list-style-type: none;}

    

    .item1-list ul{
        
            list-style-type: none;
            display: flex;
            gap: 10px;
        }

        .item1-list ul li a{
            text-decoration: none;
            color: var(--Whitetext);
            padding: 10px;
        }

        .item1-login a{
            text-decoration: none;
            color: var(--Whitetext);
            padding: 14px;
            font-size: larger;
            border-radius: 25px;
            border-radius: 25px;
        }
        .item1-login a:hover{background-color: var(--Whitetext);color: var(--Lightred);}

        .item1-login{
            display: flex;
            gap: 5px;
            position: relative;
            top: 47px;
        }
        .item1-logo{
            position: relative;
            top: 51px;
        }
            
        .item2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                top: 6rem;
                color: var(--Whitetext);
                gap: 35px;
                margin-top: 35px;
            }
        .item2-h2{
            font-size: xxx-large;
        }
        .tem2-p{
            font-size: xx-large;
        }
         .item2-a{
            font-size: x-large;
            display: flex;
            align-items: center;
         }
          .p1{
            border: 1px solid var(--Whitetext);
            margin-right: 30px;
            padding: 15px;
            border-radius: 36px;
         }
         .p2{
            border: 1px solid var(--Whitetext);
            padding: 15px;
            border-radius: 36px;
         }
         .p1:hover{background-color: var(--Whitetext);color: var(--Lightred);}
         .p2:hover{background-color: var(--Whitetext);color: var(--Lightred);}

         .h1{
            text-align: center;
            font-size: xxx-large;
                position: relative;
                top: 60px;
                left: 65px;
            }
         
         
         
         .container1{
            display: flex;
            justify-content: space-between;
         }

         .section{
            display: flex;
            flex-direction: column;
                display: flex;
                flex-direction: column;
                gap: 60px;
                justify-content: center;
                padding-left: 30rem;
                margin-top: 150px;
            }
         .item1-section{
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-size: 22px;
                text-align: justify;
                line-height: 1.5;
            }
            .item1-section1{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    font-size: 22px;
                    text-align: justify;
                    line-height: 1.5;
                }

                .item1-section p{
                    color: hsl(240, 2%, 79%);
                }
                .item1-section1 p{
                    color: hsl(240, 2%, 79%) ;
                }
            .item1-img{
                    display: flex;
                    justify-content: flex-end;
                }
.section1{       
border: 1px solid black;
width: 100%;
 height: 532px;
 background: hsl(237, 17%, 21%);
  margin-top: 30px;
  border-top-right-radius: 115px;
   border-bottom-left-radius: 80px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
 }
                    
 .item-left img{
 width: 111%;
   }

   .item-right{
    align-self: center;
    font-size: xx-large;
    color: var(--Whitetext);
   }
   .section2{
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
   }
   .right{
    
        align-self: center;
        position: relative;
        bottom: 50px;
        left: 330px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-size: 22px;
    }

    .footer{
        
            border: 1px solid black;
            width: 100%;
            height: 580px;
            background-color:hsl(240, 10%, 16%);
            margin-top: 48px;
            border-top-right-radius: 180px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: xx-large;
            color: var(--Whitetext);
        }
        .footer-logo{
            display: flex;
            align-self: center;
            position: relative;
            bottom: 136px;
        }

        .footer-list1 ul{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        .footer-list2 ul{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        .footer-list3 ul{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        .footer-list1 a{
            text-decoration: none;
            color: var(--Whitetext);
        }
        .footer-list2 a{
            text-decoration: none;
            color: var(--Whitetext);

        }
        .footer-list3 a{
            text-decoration: none;
            color: var(--Whitetext);

        }
        .dropdown {
            width: 142px;
            height: auto;
            background-color: white;
            padding: 20px;
            position: relative;
            top: 22px;
            display:none;
            gap: 20px;

        }
        .menu li :hover{
            width: 142px;
            height: auto;
            background-color: white;
            padding: 20px;
            position: relative;
            top: 22px;
            display:none;
            gap: 20px;
        }
        .menu{
            display: flex;
            flex-direction: column;
        }
        span{color: var(---ightredCTAtext);}

        @media(max-width:400px){
            .container{display: flex;flex-direction: column;border-bottom-left-radius: 175px;}
                  nav{width: 215%;}
             .item2-h2{
                font-size: 56px;
                text-align: center;
                margin-top: -82px;
            }
              
              .item1-list{display: none;}
            .item2-p{font-size: x-large;font-size: 45px;text-align: center;}
            .h1{font-size: 26px;position: relative;left: 180px;}
            .container1{
                display: flex;
                flex-direction: column-reverse;
            }
            .item1-img img{
            
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                    width: -40rem;
                    width: 40rem;
                    margin-top: 120px;
                    position: relative;
                    left: 286px;
                }
              
                
              
                .item1-logo{
                    
                        position: relative;
                        top: 51px;
                        right: 20rem;
                        left: -9rem;
                    }
                    .icon img{
                        
                            position: relative;
                            top: 45px;
                            left: 115px;
                            display: flex;
                            width: 3.5rem;
                           
                        }

                    
                
                .section{padding-left: 0;
                position: relative;
                left: 185px;
                margin-top: 50px;
            }
            .item1-section{
                font-size: 2rem;
            }
            .item1-section h2{
                font-size: 28px;
            }
            .item1-section1{
                font-size: 2rem;
            }
             .item1-section p br{
                  display: none;
             }
             .item1-section p{
                text-align: justify;
             }
            .item1-section1 h2{
                font-size: 28px;
            }
            .item1-section1 p {text-align: justify;}
            .item1-section p br{
                display: none;
            }
            .section1{
                width: 215%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 195px;
                height: 85rem;
                border-bottom-left-radius: 185px;
            }
            .item-left img{
                width: 116%;
                text-align: center;
                position: relative;
                bottom: 267px;
            }
            .item-left-h2{
                font-size: 3rem;
                margin-top: -51px;
            }
            .item-left-p{
                font-size: 3rem;
                position: relative;
                top: 75px;
            }
            .item-right{
                text-align: center;
                position: relative;
                bottom: 200px;
            }
            .section2{
                display: flex;
                flex-direction: column;
            }
            .left img{
                width: 213%;
            }
            .right{
                margin-top: 120px;
                position: relative;
                left: 216px;
                font-size: 2rem;
            }
            .right-h2{
                text-align: center;
            }
            .right-p{
                text-align: center;
            }
            .right-h22{
                text-align: center;
            }
            .right-pp{
                text-align: center;
            }
            .footer{
                width: 216%;
                display: flex;
                flex-direction: column;
                height: 72rem;
            }
              .footer-logo{
                position: relative;
                top: 20px;
                left: -27px;
                margin-bottom: 70px;
              }
              .footer-list2{
                margin-left: -40px;
              }
              .footer-list3{
                margin-left: -40px;
              }
              .item1-login{
                display: none;
              }
              
        }


            
        
 
                

                
            