*{box-sizing: border-box;margin: 0;padding: 0;}
body{background-color: hsl(13, 31%, 94%);}
.main{display: grid;grid-template-rows: repeat(3,1fr);grid-template-columns: repeat(3,1fr);
width: 63%;gap: 35px;}
section{margin-left: 5rem;margin-top: 4rem;}
.box{border-radius: 20px;}
.box1{background-color:white;}
.box1-cart{border: 1px solid black;width:45%;border-radius: 42px;position: relative;left: 97px;bottom: 39px;
top: -46px;background-color: white;padding: 20px;font-size: 2rem;}
.box1-cart a{text-decoration: none;color: black;}
.box1-cart img{width: 20%;}
.box1-img img{border-radius: 20px;}
.p-1{color: gray;font-size: 2rem;}
.p-2{font-size: 2rem;}
.p-3{color: hsl(14, 86%, 42%);font-size: 2rem;}


.box2{background-color:white;}
.box2-cart{border: 1px solid black;width:45%;border-radius: 42px;position: relative;left: 97px;bottom: 39px;
top: -46px;background-color: white;padding: 20px;font-size: 2rem;}
.box2-cart a{text-decoration: none;color: black;}
.box2-cart img{width: 20%;}
.box2-img img{border-radius: 20px;}
.p-1{color: gray;font-size: 2rem;}
.p-2{font-size: 2rem;}
.p-3{color: hsl(14, 86%, 42%);font-size: 2rem;}





.box3{background-color: white;}
.box3-cart{border: 1px solid black;width:45%;border-radius: 42px;position: relative;left: 97px;bottom: 39px;
    top: -46px;background-color: white;padding: 20px;font-size: 2rem;}
    .box3-cart a{text-decoration: none;color: black;}
    .box3-cart img{width: 20%;}
    .box3-img img{border-radius: 20px;}

    .p-1{color: gray;font-size: 2rem;}
    .p-2{font-size: 2rem;}
    .p-3{color: hsl(14, 86%, 42%);font-size: 2rem;}
    
.box4{background-color:white;}
.box4-cart{border: 1px solid black;width:45%;border-radius: 42px;position: relative;left: 97px;bottom: 39px;
    top: -46px;background-color: white;padding: 20px;font-size: 2rem;}
    .box4-cart a{text-decoration: none;color: black;}
    .box4-cart img{width: 20%;}
    .box4-img img{border-radius: 20px;}
    .p-1{color: gray;font-size: 2rem;}
    .p-2{font-size: 2rem;}
    .p-3{color: hsl(14, 86%, 42%);font-size: 2rem;}

.box5{background-color: white;}
.box5-cart{border: 1px solid black;width:45%;border-radius: 42px;position: relative;left: 97px;bottom: 39px;
    top: -46px;background-color: white;padding: 20px;font-size: 2rem;}
    .box5-cart a{text-decoration: none;color: black;}
    .box5-cart img{width: 20%;}
    .box5-img img{border-radius: 20px;}
    .p-1{color: gray;font-size: 2rem;}
    .p-2{font-size: 2rem;}
    .p-3{color: hsl(14, 86%, 42%);font-size: 2rem;}

.box6{background-color: white;}
.box6-cart{border: 1px solid black;width:45%;border-radius: 42px;position: relative;left: 97px;bottom: 39px;
    top: -46px;background-color: white;padding: 20px;font-size: 2rem;}
    .box6-cart a{text-decoration: none;color: black;}
    .box6-cart img{width: 20%;}
    .box6-img img{border-radius: 20px;}
    .p-1{color: gray;font-size: 2rem;}
    .p-2{font-size: 2rem;}
    .p-3{color: hsl(14, 86%, 42%);font-size: 2rem;}
    
.box7{background-color: white;}
.box7-cart{border: 1px solid black;width:45%;border-radius: 42px;position: relative;left: 97px;bottom: 39px;
    top: -46px;background-color: white;padding: 20px;font-size: 2rem;}
    .box7-cart a{text-decoration: none;color: black;}
    .box7-cart img{width: 20%;}
    .box7-img img{border-radius: 20px;}
    .p-1{color: gray;font-size: 2rem;}
    .p-2{font-size: 2rem;}
    .p-3{color: hsl(14, 86%, 42%);font-size: 2rem;}

.box8{background-color:white;}
.box8-cart{border: 1px solid black;width:45%;border-radius: 42px;position: relative;left: 97px;bottom: 39px;
    top: -46px;background-color: white;padding: 20px;font-size: 2rem;}
    .box8-cart a{text-decoration: none;color: black;}
    .box8-cart img{width: 20%;}
    .box8-img img{border-radius: 20px;}
    .p-1{color: gray;font-size: 2rem;}
    .p-2{font-size: 2rem;}
    .p-3{color: hsl(14, 86%, 42%);font-size: 2rem;}
.box9{background-color: white;}
.box9-cart{border: 1px solid black;width:45%;border-radius: 42px;position: relative;left: 97px;bottom: 39px;
    top: -46px;background-color: white;padding: 20px;font-size: 2rem;}
    .box9-cart a{text-decoration: none;color: black;}
    .box9-cart img{width: 20%;}
    .box9-img img{border-radius: 20px;}
    .p-1{color: gray;font-size: 2rem;}
    .p-2{font-size: 2rem;}
    .p-3{color: hsl(14, 86%, 42%);font-size: 2rem;}
.box10{background-color: orange;position: absolute;top: 0;right: 0;width: 20%;height: 300px;right: 13%;
background-color: white;border-radius: 20px;display: flex;flex-direction: column;justify-content: space-evenly;text-align: center;}
.box10 h2{color: hsl(14, 86%, 42%);}

@media (max-width: 576px) {
    .main{display: flex;flex-direction: column;width: 117%;margin-top: 2rem;}
    .box1-cart{width: 84%;width: 50%;}
    .box2-cart{width: 84%;width: 50%;}
    .box3-cart{width: 84%;width: 50%;}
    .box4-cart{width: 84%;width: 50%;}
    .box5-cart{width: 84%;width: 50%;}
    .box6-cart{width: 84%;width: 50%;}
    .box7-cart{width: 84%;width: 50%;}
    .box8-cart{width: 84%;width: 50%;}
    .box9-cart{width: 84%;width: 50%;}
.box10{position: relative;
    bottom: 0;
    left: 78px;
    width: 98%;
    height: 270px;
    margin-top: 20px;
}
.item1{font-size: 3rem;}

}